<?xml version="1.0" encoding="UTF-8"?>

<phpunit    bootstrap="test.bootstrap.inc.php"
            backupGlobals="false"
            backupStaticAttributes="false"
            syntaxCheck="false"
            forceCoversAnnotation="true"
            mapTestClassNameToCoveredClassName="true"
            colors="true"
            verbose="true">
    <php>
        <ini name="zend.enable_gc" value="0" />
    </php>
    <testsuites>
        <testsuite name="Virus">
            <file>src/Virus/Home/Tests/HomeControllerBaseTest.php</file>
            <file>src/Virus/Home/Tests/HomeViewBaseTest.php</file>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>../src/Virus/</directory>
            <exclude>
                <directory>../src/Virus/Home/Tests/</directory>
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <log    type="coverage-html"
                target="../build/coverage"
                title="Virus"
                charset="UTF-8"
                yui="true"
                highlight="true"
                lowUpperBound="35"
                highLowerBound="70"/>
        <log    type="coverage-clover"
                target="../build/logs/clover.xml"/>
        <log    type="junit"
                target="../build/logs/junit.xml"
                logIncompleteSkipped="false"/>
    </logging>
</phpunit>
